<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RestaurantTrip</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" href="../public/icons/icon-144x144.png" sizes="144x144">
    <link rel="icon" type="image/png" href="../public/icons/icon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="../public/icons/icon-512x512.png" sizes="512x512">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <meta name="theme-color" content="#FF4500">
  </head>
  <body>
<a href="#rest-cont" class="SkipLink" role="link" tabindex="0">Skip to content</a>

    <header class="heading">
      <div class="nav">
        <div class="logo">
          <h1>Restaurant<span>Trip</span></h1>
        </div>
        <button class="drawer" id="drawer">☰</button>
        <nav id="navlist" class="navlist">
          <ul>
            <li class="navitem"><a href="#/favorite">Favorite</a></li>
            <li class="navitem"><a href="#/home">Home</a></li>
            <li class="navitem"><a href="https://github.com/inogndslvs">About Us</a></li>
        </ul>
        </nav>
      </div>
    </header>

    <main id="mainContent" tabindex="0">
        <hero-baner></hero-baner>
        <search-section></search-section>
    </main>
    <footer-section></footer-section>
  </body>
</html>
